body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#fdfaf7
}

.homeTitle{
    width:110%;
    background-color:#430000;
    margin-left:-7px;
    margin-top:-32px;
    padding-left:3px;
    padding-top:10px;
    padding-bottom:1px;
    color:#ffd500;
    font-weight:900;
    text-align:center;
    font-size: 48px;
}

